In [58]:
#Importing necessary modules
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [59]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls'
df = pd.read_excel(url)

In [60]:
df.shape

(30001, 25)

In [61]:

X = df.drop('Y', axis=1)
X = X.drop(0)
y = df['Y']

In [62]:
X.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
1,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,689,0,0,0,0
2,2,120000,2,2,2,26,-1,2,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
3,3,90000,2,2,2,34,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
4,4,50000,2,2,1,37,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
5,5,50000,1,2,1,57,-1,0,-1,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [63]:
y.head()

0    default payment next month
1                             1
2                             1
3                             0
4                             0
Name: Y, dtype: object

In [64]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20,random_state = 1) #creation of train and test data

ValueError: Found input variables with inconsistent numbers of samples: [30000, 30001]

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
X_train.shape[0]==y_train.shape[0]

In [ ]:
X_test.shape[0]==y_test.shape[0]

In [ ]:
#ADD YOUR CODE HERE